{% extends 'home/layout.html' %}

{% block title %}Title: {{form.title}}{% endblock %}

{% block content %}
{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'home/images/favicon.ico' %}" />
<div class="row">
    <div class="columnright left">
        <form method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Recipe</legend>
                <table class="inputTable">
                    <tr class="inputRow"><th><label for="id_name">Name:</label></th>
                        <td>{{ form.name }}</td>
                    </tr>
                    <tr class="inputRow"><th><label for="id_cook_book">Cookbook:</label></th>
                        <td> {{ form.cook_book }}</td>
                    </tr>
                    <tr class="inputRow"><th><label for="id_page_number">Page Number:</label></th>
                        <td>{{ form.page_number }}</td>
                    </tr>
                    <tr class="inputRow"><th><label for="id_notes">Notes:</label></th>
                        <td>{{ form.notes }}</td>
                    </tr>
                    <tr class="inputRow"><th><label for="id_recipe_types">Recipe Tags:</label></th>
                        <td>{{ form.recipe_types }}</td>
                    </tr>
                </table>
                <p class="buttonContainer">
                    {% csrf_token %}
                    <button class="btn btn-default" type="submit">Update</button>
                </p>
            </fieldset>
        </form>
    </div>
</div>
<p><a class="btn btn-default" href="{% url 'recipes' %}">Back to Recipe list &raquo;</a></p>
{% endblock %}
{% block scripts %}
{% endblock %}