{% extends 'home/layout.html' %}

{% block title %}Recipes{% endblock %}

{% block content %}
{% load static %}
<h1>Recipes</h1>
<div style="display: inline-block; text-align: left;">
    <button class="btn btn-default" id="new" onclick="window.location.href='new'">New Recipe</button>
    
    <table id="{{table_name}}" class="viewTable">
        <tr>
            <th class="viewCell sortableHeader titleCell" onclick="sortTable('{{table_name}}', 0)">Name</th>
            <th class="viewCell">Cookbook</th>
            <th class="viewCell">Page Number</th>
            <th class="viewCell">Notes</th>
        </tr>
        {% for recipe in recipes %}
        <tr>
            <td  class="viewCell">
                <a href="{% url 'recipe_detail' recipe.id %}">
                <i>{{recipe.name}}</i>
                </a>
            </td>
            <td  class="viewCell">{{recipe.cook_book}}</td>
            <td  class="viewCell">{{recipe.page_number}}</td>
            <td  class="viewCell">{{recipe.notes}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'home/scripts/table.js' %}"></script>
{% endblock %}