{% extends 'home/layout.html' %}

{% block title %}Recipes{% endblock %}

{% block content %}
    <h1>Recipes</h1>
    <table id="{{table_name}}" class="viewTable">
        <tr>
            <th class="viewCell sortableHeader titleCell" onclick="sortTable(0)">Name</th>
            <th class="viewCell">Cookbook</th>
            <th class="viewCell">Page Number</th>
            <th class="viewCell">Notes</th>
        </tr>
        {% for recipe in recipes %}
        <tr>
            <td  class="viewCell">
                <a href="{% url 'recipe_detail' recipe.id %}">
                <i>{{recipe.name}}</i>
                </a>
            </td>
            <td  class="viewCell">{{recipe.cook_book}}</td>
            <td  class="viewCell">{{recipe.page_number}}</td>
            <td  class="viewCell">{{recipe.notes}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block scripts %}
    {% include 'script_table.html' %}
{% endblock %}