{% extends "home/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p>The Meal Planner application is designed to facilitate the planning of meals and produce
    a meal calendar. The application is data driven, so the more information the application
    has access to, the better the planning experience.</p>
<p>Meal planning is performed from a monthly calendar. A meal is selected from a user-entered
    list of meals. A search is completed to select the meal. Searches are based on recipe name,
    cookbook name, author of cookbook or from a custom set of tags associated with the recipe.
</p>
<p>With meals planned, there is a option to print out the meal plan in a month calendar format.
    Options allow for only specific weeks to printed out, making it possible to add to an existing
    printed calendar.
</p>
{% endblock %}
