{% extends "home/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<address>
    Schmidtheads Inc.<br />
    PO BOX 99900 CC 485 797<br />
    RPO FAIRLAWN<br />
    OTTAWA ON K2A 2C3<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mealplanners415@gmail.com">MealPlannerSupport@gmail.com</a><br />
    <strong>Github Repo</strong>   <a href="https://github.com/Schmidtheads/meal_planner>">Github.com/MealPlanner</a>
</address>

{% endblock %}
