body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Keep the horizontal ruler below divs */
hr {
    clear: both;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* styles for tables used for input */
.inputTable {
    margin-left: auto;
    margin-right: auto;
}

.inputRow {
    height: 40px;
}

/* styles for tables used for read-only */
.viewTable {
    table-layout: fixed;
}

.viewCell {
    padding: 15px;
}

/* misc styles */

.sortableHeader {
    cursor: pointer;
}

.buttonContainer {
    text-align:center;
    margin: 15px;
}

/* styles for Cookbook pages*/

.titleCell {
    min-width: 14pc;
}

.authorCell {
    min-width: 10pc;
}

#id_title {
    max-width: none;
    width: 300px;
}

#id_description {
    max-width: none;
    width: 500px;
}

#id_author {
    max-width: none;
    width: 150px;
}

#id_publish_date {
    max-width: none;
    width: 75px;
}

/* styles for meal calendar */

#calendar {
    padding-bottom: 20px;
}

/* Set the colour of the current day*/

.date {
    font-size: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.today-cell {
    color: darkred;
    font-weight: bold;
    font-size: 14px;
}

/* styes used to left or right justify text*/

.left {
    float: left;
}

.right {
    float: right;
}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

    .month ul {
        margin: 0;
        padding: 0;
    }

        .month ul li {
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

    .month .prev {
        float: left;
        padding-top: 10px;
    }

    .month .next {
        float: right;
        padding-top: 10px;
    }

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

    .weekdays li {
        display: inline-block;
        width: 13.6%;
        color: #666;
        text-align: center;
    }

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

    .days li {
        list-style-type: none;
        display: inline-block;
        width: 13.6%;
        text-align: center;
        margin-bottom: 5px;
        font-size: 12px;
        color: #777;
    }

        .days li .active {
            padding: 5px;
            background: #1abc9c;
            color: white !important
        }

.week_column {
    width: 100px;
}

.recipe_text {
    font-size: 12px;
    color: #92a8d1;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {
        width: 13.1%;
    }
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {
        width: 12.5%;
    }

        .days li .active {
            padding: 2px;
        }
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {
        width: 12.2%;
    }
}
