body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* styles for tables used for input */
.inputTable {
    margin-left: auto;
    margin-right: auto;
}

.inputRow {
    height: 40px;
}

/* styles for tables used for read-only */
.viewTable {
    table-layout: fixed;
}

.viewCell {
    padding: 15px;
}

/* misc styles */

.sortableHeader {
    cursor: pointer;
}

.buttonContainer {
    text-align:center;
    margin: 15px;
}

/* styles for Cookbook pages*/

.titleCell {
    min-width: 14pc;
}

.authorCell {
    min-width: 10pc;
}

#id_title {
    max-width: none;
    width: 300px;
}

#id_description {
    max-width: none;
    width: 500px;
}

#id_author {
    max-width: none;
    width: 150px;
}

#id_publish_date {
    max-width: none;
    width: 75px;
}