{% extends 'home/layout.html' %}

{% block title %}Title: {{form.title}}{% endblock %}

{% block content %}
{% load static %}
    <div class="row">
        <div class="columnleft left">
        </div>
        <div class="columnright left">
            <form method="post">
                <fieldset>
                    <legend>Meal</legend>
                    <table class="inputTable">
                        <tr class="inputRow"><th><label for="id_scheduled_date">Date:</label></th>
                            <td class="left_padded_table_cell">
                                {{ form.scheduled_date }}
                                {{ form.scheduled_date.errors }}
                            </td>
                        </tr>
                        <tr class="inputRow"><th><label for="id_was_made">Was Made:</label></th>
                            <td class="left_padded_table_cell">
                                {{ form.was_made }}
                                {{ form.was_made.errors }}
                            </td>
                        </tr>
                        <tr class="inputRow"><th><label for="id_recipe">Recipe:</label></th>
                            <td id="id_recipe_input" class="left_padded_table_cell">
                                {{ form.recipe }}
                                {{ form.recipe.errors }}
                            </td>
                        </tr>
                        <tr class="inputRow"><th><label for="id_note">Notes:</label></th>
                            <td id="id_notes_input" class="left_padded_table_cell">
                                {{ form.notes }}
                                {{ form.notes.errors }}
                            </td>
                        </tr>
                    </table>
                    <p class="buttonContainer">
                        {% csrf_token %}
                        <button class="btn btn-default" type="submit">Update</button>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
    <p><a class="btn btn-default" href="{% url 'meals' %}">Back to Meals Calendar &raquo;</a></p>
{% endblock %}

{% block scripts %}
<script src="{% static 'home/scripts/recipequery.js' %}"></script>
{% endblock %}