{% extends 'home/layout.html' %}

{% block title %}Meal Planning{% endblock %}

{% block content %}
{% load static %}
<div id="calendar" class="col-sm-12 col-md-12 col-lg-12 mt-5">
    <div class="card">
        <div>
        <h3 class="card-header calendarHeader" id="monthAndYear"></h3>
        <a class="btn btn-default col-sm-3 col-lg-2 printButton"
        href="{% url 'print' %}"
        onclick="return showPrintPopup(this);">Print</a>
        </div>
        <table class="table table-bordered table-responsive-sm table-fixed"  id="calendar">
            <colgroup>
                <col span="7" class="week_column" />
            </colgroup>
            <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
            </thead>

            <tbody id="calendar-body">

            </tbody>
        </table>

        <div class="form-inline">
            <button class="btn btn-default col-sm-3 col-lg-2" id="previous" onclick="previous()">Previous</button>
            <button class="btn btn-default col-sm-3 col-lg-2" id="today" onclick="jumpToToday()">Today</button>
            <button class="btn btn-default col-sm-3 col-lg-2" id="next" onclick="next()">Next</button>
        </div><br/><br/>
        <div>
            <form class="form-inline">
                <label class="lead  mr-2 ml-2" for="month">Jump To: </label>
                <div class="form-group">
                    <select class="form-control col-sm-4 col-lg-2" name="month" id="month" onchange="jump()">
                        <option value=0>January</option>
                        <option value=1>February</option>
                        <option value=2>March</option>
                        <option value=3>April</option>
                        <option value=4>May</option>
                        <option value=5>June</option>
                        <option value=6>July</option>
                        <option value=7>August</option>
                        <option value=8>September</option>
                        <option value=9>October</option>
                        <option value=10>November</option>
                        <option value=11>December</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="year"></label>
                    <select class="form-control col-sm-4 col-lg-2" name="year" id="year" onchange="jump()">
                        <option value=2019>2019</option>
                        <option value=2020>2020</option>
                        <option value=2021>2021</option>
                        <option value=2022>2022</option>
                        <option value=2023>2023</option>
                        <option value=2024>2024</option>
                        <option value=2025>2025</option>
                        <option value=2026>2026</option>
                        <option value=2027>2027</option>
                        <option value=2028>2028</option>
                        <option value=2029>2029</option>
                        <option value=2030>2030</option>
                        <option value=2031>2031</option>
                        <option value=2032>2032</option>
                        <option value=2033>2033</option>
                        <option value=2034>2034</option>
                        <option value=2035>2035</option>
                        <option value=2036>2036</option>
                        <option value=2037>2037</option>
                        <option value=2038>2038</option>
                        <option value=2039>2039</option>
                        <option value=2040>2040</option>
                        <option value=2041>2041</option>
                        <option value=2042>2042</option>
                        <option value=2043>2043</option>
                        <option value=2044>2044</option>
                        <option value=2045>2045</option>
                        <option value=2046>2046</option>
                        <option value=2047>2047</option>
                        <option value=2048>2048</option>
                        <option value=2049>2049</option>
                        <option value=2050>2050</option>
                        <option value=2051>2051</option>
                        <option value=2052>2052</option>
                        <option value=2053>2053</option>
                        <option value=2054>2054</option>
                        <option value=2055>2055</option>
                        <option value=2056>2056</option>
                        <option value=2057>2057</option>
                        <option value=2058>2058</option>
                        <option value=2059>2059</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'home/scripts/calendar.js' %}"></script>
<script src="{% static 'home/scripts/popup.js' %}"></script>
<script src="{% static 'home/scripts/print.js' %}"></script>
{% endblock %}