{% extends 'home/layout_light.html' %}

{% block title %}Print{% endblock %}

{% block content %}
{% load static %}
<div class="container">
    <h3>Print Meal Plan</h3>
    <form method='POST' action='' enctype="multipart/form-data" novalidate id="print">{% csrf_token %}
        <!-- <input type="radio" id="{{ form.print_weeks.0.id_for_label}}" name="print_weeks" checked onclick="radio_click('{{ form.print_weeks.0.id_for_label }}') " value="{{ form.print_weeks.0.value }}"> -->
        {{ form.print_weeks.0.tag }}
        <label for="{{ form.print_weeks.0.id_for_label }}">{{ form.print_weeks.0.choice_label }}</label><br>
        {{ form.print_weeks.1.tag }}
        <!-- <input type="radio" id="{{ form.print_weeks.1.id_for_label }}" name="print_weeks" onclick="radio_click('{{ form.print_weeks.1.id_for_label }}')"> -->
        <label for="{{ form.print_weeks.1.id_for_label }}">{{ form.print_weeks.1.choice_label }}</label><br>
            <div style="margin-left: 30px">
                <input type="checkbox" id="week1" disabled>
                <label for="week1">Week 1</label>
                <input type="checkbox" id="week2" disabled>
                <label for="week2">Week 2</label>
                <input type="checkbox" id="week3" disabled>
                <label for="week3">Week 3</label>
                <input type="checkbox" id="week4" disabled>
                <label for="week4">Week 4</label>
                <input type="checkbox" id="week5" disabled>
                <label for="week5">Week 5</label><br><br>
            </div>           
        <input type="submit" value="Print" />
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'home/scripts/print.js' %}"></script>
{% endblock %}
