{% extends 'home/layout_light.html' %}

{% block title %}Print{% endblock %}

{% block content %}
{% load static %}
<div class="container">
    <h1>Print Meal Plan</h1>
    <!--
    <form method='POST' action='' enctype="multipart/form-data" novalidate id="print">
        <input type="radio" id="r_all">
        <label for="r_all">Print All Weeks</label>
        <input type="radio" id="r_weeks">
        <label for="r_weeks">Print only following weeks:</label>
            <input type="text" id="weeks">
            <label for="weeks">Print Meal Plan</label>
        <input type="submit" value="Submit" />
    </form>
    -->
</div>
{% endblock %}
