<!--
  Custom Recipe Search Widget
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"/>
<div class="row align-items-end">
    <div class="form-group col-md-7">
        <input type="text" class="form-control"
                id="id_recipe_name_display"
                name="{{ widget.name }}"
                {% if widget.value != None %}
                value="{{ widget.recipe_name }}"
                {% endif %} readonly/>
    </div>
    <div class="form-group col-md-1">
      <button type="button" class="btn btn-default" onclick="launch()">
            Search
      </button>
    </div>
    <div hidden>
        <input type="text"
            id="id-{{ widget.name }}"
            name="{{ widget.name }}"
            {% if widget.value != None %}
            value="{{ widget.value }}"
            {% endif %} />
    </div>
</div>
    <!-- Modal -->
    <div class="modal fade" id="queryBuilder" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="queryBuilderTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="queryBuilderLongTitle">Recipe Search</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table" id="id_recipe_search">
              <tr>
                <td id="id_recipe_search_container">
                  <input id="id_recipe_search_keys" class="form-control" onkeyup="stoppedTyping()" type="text" />
                </td>
                <td id="id_recipe_search_container">
                  <button id="id_recipe_search_button" type="button" class="btn btn-primary" onclick="recipeSearch()">Search</button>                  
                </td>
              </tr>
            </table>
            <div id="id_table_scroll">
              <table id="id_recipe_search_results" class="table tableRowHover">
                <thead></thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" onclick="selectRecipe()">OK</button>
          </div>
        </div>
      </div>
    </div>
<script>
  // Set global variable to Django widget name for use in imported .js files
  var widgetName = "{{ widget.name }}";
</script>
<script>
  var $modal = $('#queryBuilder');
  $modal.find('.modal-content')
    .css({
      width: 625,
      height: 425,
    })
    .resizable({
      minWidth: 625,
      minHeight: 425,
      handles: 'n, e, s, w, ne, sw, se, nw',
    })
    .draggable({
      handle: '.modal-header'
    });
  
  // focus on the search text input when modal is launched
  $modal.on('shown.bs.modal', function() {
    $('#id_recipe_search_keys').focus();
  });

  var launch = function () {
    $modal.modal();
  }  
</script>